.collect-film-item-text {
  text-align: start;
}

.collect-film-item-30 {
  width: 30%;
}

.collect-film-item-70 {
  width: 70%;
}

.collect-film-item-title {
  font-size: 16px;
}

.collect-film-item-subtitle {
  font-size: 12px;
}

.collect-icon {
  width: 24px;
  height: 24px;
}
.collect-film-list-icon-sm {
  width: 24px;
  height: 24px;
}
@media (min-width: 1194px) {
  .collect-film-item-title {
    font-size: 32px;
  }

  .collect-film-item-subtitle {
    font-size: 24px;
  }

  .collect-icon {
    width: 48px;
    height: 48px;
  }
}
